*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

body {
	width: 100vw;
	height: 100vh;
	background-image: url(./form-background.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
}

.flex {
	display: flex;
}

.flex-wrapper {
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.container {
	width: 100%;
	height: 25vw;
	background-color: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
	gap: 5px;
    padding-block: 0.5em;
}

#odin-logo {
	height: 100%;
}

#odin-logo + span {
	color: white;
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
}
