*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

body {
	width: 100vw;
	min-height: 100vh;
	height: max-content;
	background-image: url(./form-background.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
	scrollbar-gutter: stable;
}

h2 {
	font-family: "Fredoka", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-size: 1.6rem;
}

form {
	flex-grow: 1;
}

label {
	font-family: monospace;
	font-size: 0.7rem;
	color: #363636;
	letter-spacing: 1px;
}

input {
	height: 30px;
	width: 250px;
	padding-left: 8px;
	border: 1px solid #d6d6d6;
	border-radius: 6px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	font-family: "Fredoka", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-size: 0.95rem;
}

input:invalid {
	border-color: #d40f15;
}

input:focus {
	border-color: #1557c2;
	outline: none;
	box-shadow: 2px 2px 3px #c0c0c0;
}

button {
	width: 180px;
	height: 50px;
	margin-top: 3em;
	margin-left: calc((100% - 175px) / 2);
	background-color: #1a397d;
	color: white;
	border: none;
	border-radius: 8px;
	font-family: "Fredoka", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-size: 1.1rem;
	cursor: pointer;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.flex-wrapper {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 100%;
	height: max(10vh, 65px);
	background-color: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding-block: 0.5em;
	padding-right: 1em;
}

.flex-form {
	height: 100%;
	width: 100%;
	padding-top: 1.25em;
	row-gap: 1.5em;
}

.two-inputs-div {
	flex-wrap: wrap;
	column-gap: 6em;
	row-gap: 1.5em;
}

.form-description {
	font-family: "Fredoka", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-size: 1.25rem;
	line-height: 1.4;
	margin-inline: 2.75rem;
}

.form-description:first-child {
	margin-top: 3.75em;
}

#odin-logo {
	height: 100%;
}

#odin-logo + span {
	color: white;
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: min(2rem, max(7vh, 26px));
}

#main-form-div {
	width: 100%;
	min-height: 100vh;
	height: max-content;
	background-color: #fafafa;
	padding-bottom: 2em;
}

#main-form-div p:first-child {
	margin-bottom: 1em;
}

#form-div {
	flex-direction: column;
	background-color: white;
	width: 100%;
	height: max(50vh, min-content);
	margin-top: 3em;
	padding-inline: 2.75rem;
	padding-top: 1em;
	padding-bottom: 2.5em;
	box-shadow: 1px 3px 5px 1px #d1d1d1;
}

#already-have-account-text {
	font-family: "Fredoka", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	text-align: center;
	margin-top: 1.5em;
}

#log-in-text {
	color: #1a397d;
	font-weight: 500;
	cursor: pointer;
}

@media only screen and (min-width: 740px) {
	h2 {
		font-size: 2rem;
	}
	.form-description {
		font-size: 1.5rem;
	}
	#main-form-div {
		width: calc(100% - 3.5em);
		min-height: max-content;
		margin-block: 2vh;
		margin-inline: 1.75em;
		border-radius: 15px;
	}
	#form-div {
		box-shadow: 0 3px 2px #d1d1d1, 0 0 3px #d1d1d1;
	}
}

@media only screen and (min-width: 780px) {
	#main-form-div {
		width: calc(100% - 6em);
		margin-inline: 3em;
	}
}

@media only screen and (min-width: 950px) {
	button {
		width: 200px;
		margin-left: 2.75rem;
	}
	.flex-wrapper {
		flex-direction: row;
		gap: 0;
	}
	#main-form-div {
		width: 65%;
		min-height: 100vh;
		margin: 0;
		border-radius: 0;
	}
	.container {
		width: 35%;
		height: 14vh;
		margin-bottom: 40vh;
	}
	.form-description:first-child {
		margin-top: 15vh;
	}
	#odin-logo + span {
		font-size: min(3.2rem, max(7vh, 28px));
	}
	#already-have-account-text {
		text-align: left;
		margin-left: 2.75rem;
		font-size: 1.1rem;
	}
	#form-div {
		box-shadow: 3px 3px 5px 1px #d1d1d1;
	}
}

@media only screen and (min-width: 1250px) {
	body {
		background-size: auto 100%;
		background-position: left top;
	}
}

@media only screen and (min-width: 2000px) {
	h2 {
		font-size: 2.75rem;
	}
	label {
		font-size: 1.1rem;
	}
	input {
		width: 380px;
		height: 42px;
	}
	button {
		width: 300px;
		height: 75px;
		border-radius: 15px;
		font-size: 1.6rem;
	}
	#odin-logo + span {
		font-size: min(4.2rem, max(7vh, 28px));
	}
	.form-description {
		font-size: 2rem;
	}
	#form-div {
		height: max-content;
	}
	#already-have-account-text {
		font-size: 1.4rem;
	}
}
